DATABASE_URL="postgresql://nestjs_auth:nestjs_auth@localhost:5433/nestjs_auth?schema=public"
JWT_SECRET="change-this-access-token-secret"
JWT_REFRESH_SECRET="change-this-refresh-token-secret"
PORT=3000
